<ion-header>
  <ion-navbar>
    <ion-title>GitLab</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Exercises</ion-list-header>
    <ion-item>
      <hr>
      <h2 class="pac" href="https://gitlab.com/pbohigas/DWADM_PAC3_ionicTabsApp">PAC 3</h2>
      <p class="info">
        To view the code of this App visit: https://gitlab.com/pbohigas/DWADM_PAC3_ionicTabsApp
      </p>
      <hr>
    </ion-item>
  </ion-list>
</ion-content>
