<ion-header>
  <ion-navbar>
    <ion-title>Description</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Exercises</ion-list-header>
    <ion-item>
      <hr>
      <h2 class="pac">PAC 3</h2>
      <p class="info">
        Exercise "PAC 3" of the subject "Front-end Developpment with JavaScript Frameworks [B2.305]", which is part of
        the
        "Master's Degree in Application Design for Mobile Devices" at the Universitat Oberta de Catalunya (UOC)
      </p>
      <hr>
    </ion-item>
  </ion-list>
  <p class="authorName">
    Pere Bohigas Boladeras
  </p>
</ion-content>
