// http://ionicframework.com/docs/theming/

.pac {
  text-align: left;
  padding: 10px;
}

.authorName {
  text-align: center;
  font-size: 150%;
}

.info {
  text-align: center;
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
